@model week2.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>id: @Model.EmployeeId</p>
<p>name: @Model.EmployeeName</p>
<p>gender: @Model.Gender</p>
<p>id: @Model.City</p>



