
@{
    ViewBag.Title = "Hello World Application";
}

<h2>Hello World!</h2>
<p>
    current date is: @ViewData["message"] <br />
    view bag: @ViewBag.message

    <ul>
        @foreach( string country in ViewBag.Countries )
        {
            <li>@country</li>
        }
    </ul>
</p>
